<img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Logo_UTFSM.png" width="200" alt="utfsm-logo" align="left"/>

# MAT281
### Aplicaciones de la Matemática en la Ingeniería

## Módulo 02
## Laboratorio Clase 04: Agrupando datos

### Instrucciones


* Completa tus datos personales (nombre y rol USM) en siguiente celda.
* La escala es de 0 a 4 considerando solo valores enteros.
* Debes _pushear_ tus cambios a tu repositorio personal del curso.
* Como respaldo, debes enviar un archivo .zip con el siguiente formato `mXX_cYY_lab_apellido_nombre.zip` a alonso.ogueda@gmail.com. 
* Se evaluará:
    - Soluciones
    - Código
    - Que Binder esté bien configurado.
    - Al presionar  `Kernel -> Restart Kernel and Run All Cells` deben ejecutarse todas las celdas sin error.
* __La entrega es al final de esta clase.__

__Nombre__:Cristián Pérez

__Rol__:201504016-8

Se utilizará el mismo dataset de pokemon

In [2]:
import os
import pandas as pd

In [3]:
pkm = (
    pd.read_csv(os.path.join("data", "pokemon.csv"), index_col="#")
    .rename(columns=lambda x: x.replace(" ", "").replace(".", "_").lower())
)
pkm.head()

,name,type1,type2,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [8]:
for name, group in pkm.groupby('type1'):
    print(name, '\n \n', group.head(2))
    print('\n\n')

Bug

         name type1 type2  hp  attack  defense  sp_atk  sp_def  speed  \
#
14  Caterpie   Bug   NaN  45      30       35      20      20     45
15   Metapod   Bug   NaN  50      20       55      25      25     30

    generation  legendary
#
14           1      False
15           1      False



Dark

         name type1   type2  hp  attack  defense  sp_atk  sp_def  speed  \
#
213  Umbreon  Dark     NaN  95      65      110      60     130     65
214  Murkrow  Dark  Flying  60      85       42      85      42     91

     generation  legendary
#
213           2      False
214           2      False



Dragon

           name   type1 type2  hp  attack  defense  sp_atk  sp_def  speed  \
#
160    Dratini  Dragon   NaN  41      64       45      50      50     50
161  Dragonair  Dragon   NaN  61      84       65      70      70     70

     generation  legendary
#
160           1      False
161           1      False



Electric

        name     type1 type2  hp  attack  defense  sp_atk  sp_def  speed  \
#
31  Pikachu  Electric   NaN  35      55       40      50      50     90
32   Raichu  Electric   NaN  60      90       55      90      80    110

    generation  legendary
#
31           1      False
32           1      False



Fairy

         name  type1 type2  hp  attack  defense  sp_atk  sp_def  speed  \
#
41  Clefairy  Fairy   NaN  70      45       48      60      65     35
42  Clefable  Fairy   NaN  95      70       73      95      90     60

    generation  legendary
#
41           1      False
42           1      False



Fighting

       name     type1 type2  hp  attack  defense  sp_atk  sp_def  speed  \
#
62  Mankey  Fighting   NaN  40      80       35      35      45     70
63     NaN  Fighting   NaN  65     105       60      60      70     95

    generation  legendary
#
62           1      False
63           1      False



Fire

          name type1 type2  hp  attack  defense  sp_atk  sp_def  speed  \
#
5  Charmander  Fire   NaN  39      52       43      60      50     65
6  Charmeleon  Fire   NaN  58      64       58      80      65     80

   generation  legendary
#
5           1      False
6           1      False



Flying

                          name   type1 type2  hp  attack  defense  sp_atk  \
#
703  Tornadus Incarnate Forme  Flying   NaN  79     115       70     125
704    Tornadus Therian Forme  Flying   NaN  79     100       80     110

     sp_def  speed  generation  legendary
#
703      80    111           5       True
704      90    121           5       True



Ghost

         name  type1   type2  hp  attack  defense  sp_atk  sp_def  speed  \
#
100   Gastly  Ghost  Poison  30      35       30     100      35     80
101  Haunter  Ghost  Poison  45      50       45     115      55     95

     generation  legendary
#
100           1      False
101           1      False



Grass

         name  type1   type2  hp  attack  defense  sp_atk  sp_def  speed  \
#
1  Bulbasaur  Grass  Poison  45      49       49      65      65     45
2    Ivysaur  Grass  Poison  60      62       63      80      80     60

   generation  legendary
#
1           1      False
2           1      False



Ground

          name   type1 type2  hp  attack  defense  sp_atk  sp_def  speed  \
#
33  Sandshrew  Ground   NaN  50      75       85      20      30     40
34  Sandslash  Ground   NaN  75     100      110      45      55     65

    generation  legendary
#
33           1      False
34           1      False



Ice

          name type1    type2  hp  attack  defense  sp_atk  sp_def  speed  \
#
134      Jynx   Ice  Psychic  65      50       35     115      95     95
157  Articuno   Ice   Flying  90      85      100      95     125     85

     generation  legendary
#
134           1      False
157           1       True



Normal

          name   type1   type2  hp  attack  defense  sp_atk  sp_def  speed  \
#
21     Pidgey  Normal  Flying  40      45       40      35      35     56
22  Pidgeotto  Normal  Flying  63      60       55      50      50     71

    generation  legendary
#
21           1      False
22           1      False



Poison

      name   type1 type2  hp  attack  defense  sp_atk  sp_def  speed  \
#
29  Ekans  Poison   NaN  35      60       44      40      54     55
30  Arbok  Poison   NaN  60      85       69      65      79     80

    generation  legendary
#
29           1      False
30           1      False



Psychic

        name    type1 type2  hp  attack  defense  sp_atk  sp_def  speed  \
#
69     Abra  Psychic   NaN  25      20       15     105      55     90
70  Kadabra  Psychic   NaN  40      35       30     120      70    105

    generation  legendary
#
69           1      False
70           1      False



Rock

         name type1   type2  hp  attack  defense  sp_atk  sp_def  speed  \
#
81   Geodude  Rock  Ground  40      80      100      30      30     20
82  Graveler  Rock  Ground  55      95      115      45      45     35

    generation  legendary
#
81           1      False
82           1      False



Steel

              name  type1   type2  hp  attack  defense  sp_atk  sp_def  speed  \
#
224       Steelix  Steel  Ground  75      85      200      55      65     30
225  Mega Steelix  Steel  Ground  75     125      230      55      95     30

     generation  legendary
#
224           2      False
225           2      False



Water

          name  type1 type2  hp  attack  defense  sp_atk  sp_def  speed  \
#
10   Squirtle  Water   NaN  44      48       65      50      64     43
11  Wartortle  Water   NaN  59      63       80      65      80     58

    generation  legendary
#
10           1      False
11           1      False

## Ejercicio #1 (1 pto)

Agrupar por `generation` y `legendary` y obtener por grupo:

* Promedio de `hp`
* Mínimo y máximo de `sp_atk` y `sp_def`

In [5]:
(
    pkm.groupby(["generation","legendary"])
    .agg(
        hp_prom=("hp","mean"),
        sp_atk_min=("sp_atk","min"),
        sp_atk_max=("sp_atk","max"),
        sp_def_min=("sp_def","min"),
        sp_def_max=("sp_def","max")
    )
)

                         hp_prom  sp_atk_min  sp_atk_max  sp_def_min  \
generation legendary
1          False       64.612500          15         175          20
           True        98.000000          95         194          85
2          False       69.613861          10         165          20
           True       103.400000          90         115          75
3          False       64.626761          10         165          20
           True        81.666667          50         180          20
4          False       69.740741          10         140          30
           True       100.846154          75         150          70
5          False       69.353333          15         145          25
           True        96.133333          72         170          72
6          False       66.189189          27         150          25
           True        87.500000          81         170          90

                      sp_def_max
generation legendary
1          False             130
           True              125
2          False             230
           True              154
3          False             135
           True              200
4          False             150
           True              130
5          False             135
           True              129
6          False             154
           True              150

## Ejercicio #2 (1 pto)

El profesor Oakgueda determinó que una buen indicador de pokemones es: 

$$ 0.2 \, \textrm{hp} + 0.4 \,(\textrm{attack} + \textrm{sp_atk})^2 + 0.3 \,( \textrm{defense} + \textrm{sp_deff})^{1.5} + 0.1 \, \textrm{speed}$$

Según este indicador, ¿Qué grupo de pokemones (`type1`, `type2`) es en promedio mejor que el resto?

In [ ]:
def oakgueda_indicator(df):
    oakgueda_ind = df.groupby(["type1","type2"])["hp"]
    return oakgueda_ind.mean()

In [ ]:
pkm.groupby().## FIX ME ##

__Respuesta__: FIX ME

## Ejercicio #3 (1 pto)

Define una función que escale los datos tal que, si $s$ es una columna: 

$$s\_scaled = \frac{s - \min(s)}{\max(s) - \min(s)}$$

Y luego transforma cada columna agrupando por si el pokemon es legendario o no.

In [ ]:
def minmax_scale(s):
    return ## FIX ME ##

pkm.groupby([]).transform(minmax_scale)

## Ejercicio #4 (1 pto)

El profesor Oakgueda necesita saber cuántos pokemones hay luego de filtrar el dataset tal que el grupo de (`type1`, `type2`) tenga en promedio un indicador (el del ejercicio #2) mayor a 50000.

In [ ]:
pkm.groupby(["type1","type2"]).filter(lambda df: oakegueda_indicator(df)>50000)

__Respuesta:__ Hay solo dos pokemones que cumplen esta condición.